<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>C4LogoiPad-01.png</string>
		<string>C4LogoiPad-02.png</string>
		<string>C4LogoiPad-03.png</string>
		<string>C4LogoiPad-04.png</string>
		<string>C4LogoiPad-05.png</string>
		<string>C4LogoiPad-06.png</string>
		<string>C4LogoiPad-07.png</string>
		<string>C4LogoiPad-08.png</string>
	</array>
	<key>UILaunchImageFile</key>
	<string>C4LogoiPad.png</string>
	<key>CFBundleIdentifier</key>
	<string>C4.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<false/>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<false/>
</dict>
</plist>
