<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>C4_AppIcon_iPhone.png</string>
		<string>C4_AppIcon_iPhone@2x.png</string>
		<string>C4_AppIcon_iPad.png</string>
		<string>C4_AppIcon_iPad@2x.png</string>
		<string>C4_LaunchImage_iPhone-Landscape~ipad.png</string>
		<string>C4_LaunchImage_iPhone-Landscape@2x~ipad.png</string>
		<string>C4_LaunchImage_iPhone-Portrait~ipad.png</string>
		<string>C4_LaunchImage_iPhone-Portrait@2x~ipad.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>C4_AppIcon_iPhone.png</string>
				<string>C4_AppIcon_iPhone@2x.png</string>
				<string>C4_AppIcon_iPad.png</string>
				<string>C4_AppIcon_iPad@2x.png</string>
				<string>C4_LaunchImage_iPhone-Landscape~ipad.png</string>
				<string>C4_LaunchImage_iPhone-Landscape@2x~ipad.png</string>
				<string>C4_LaunchImage_iPhone-Portrait~ipad.png</string>
				<string>C4_LaunchImage_iPhone-Portrait@2x~ipad.png</string>
			</array>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>iTunesArtwork.png</string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>C4.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<false/>
	<key>UILaunchImageFile</key>
	<string>C4_LaunchImage_iPhone.png</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresPersistentWiFi</key>
	<false/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
